h1 hello world !!!
p yo man man man yo how are you doing hello yo man yo
p hello world is that you yes it is
	span.btn hello world man
input(type="text", name="name" placeholder="name")
input(type="checkbox" class="css-checkbox" id="demo-box")
label(for="demo-box" class="css-label") Option #1
br
input(type="checkbox" class="" id="demo-box2")
label(for="demo-box2" class="") Option #1
